<%= form_for(@book) do |f| %>
    <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= t 'activerecord.errors.template.header', :model => Book.model_name.human, :count => @book.errors.count %></h2>
          <ul>
            <% @book.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :title_en, Book.human_attribute_name(:title, lang: t(:en, scope: :locale_name)) %>
      <%= f.text_field :title_en %>
    </div>
    <div class="field">
      <%= f.label :title_de, Book.human_attribute_name(:title, lang: t(:de, scope: :locale_name)) %>
      <%= f.text_field :title_de %>
    </div>
    <div class="field">
      <%= f.label :number_of_pages %><br />
      <%= f.number_field :number_of_pages %>
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.text_field :price %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>