<p id="notice"><%= notice %></p>

<% Book.globalize_locales.each do |locale| %>
<p>
  <b><%= Book.human_attribute_name(:title, lang: t(locale, scope: :locale_name)) %>:</b>
  <%= @book.send("title_#{locale}") %>
</p>
<% end %>

<p>
  <b><%= Book.human_attribute_name(:number_of_pages) %>:</b>
  <%= number_with_delimiter(@book.number_of_pages) %>
</p>

<p>
  <b><%= Book.human_attribute_name(:price) %>:</b>
  <%= number_to_currency(@book.price) %>
</p>


<%= link_to I18n.t('views.edit'), edit_book_path(@book) %> |
<%= link_to I18n.t('views.back'), books_path %>